* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.nav-bar {
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #353434;
}

.nav-bar.wrapper{
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.05rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

#bar {
    width: 60%;
    align-items: center;
    flex-wrap: wrap;
}

#bar a {
    color: inherit;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-family: 'Montserrat';
    display: block;
    margin: 0 5px;
}

.logo-span {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}

#dark-mode-toggle {
    width: 25%;
    padding: 7px;
    text-align: center;
    background-color: rgb(191, 191, 252);
    border: none;
    border-radius: 10px;
    color: #222121;
    font-size: 1.15rem;
    font-family: 'Montserrat';
}

i {
    padding: 0;
    margin: 0;
}

.logo-span img {
    width: 100%;
    height: auto;
}
